*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

h1{
    text-align: center;
    color: blue;
}

h2{
    text-align: center;
    color: gold;
}

#scoll_to_top{
    position: fixed;
    width: 25px;
    bottom: 50px;
    right: 30px;
}

#scoll_to_top img{
    width: 25px;
}
